
//= viewport variables
$mobile-width: 320px;
$wide-mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-desktop-width: 1125px;
$large-desktop-width: 1280px;
$xlarge-desktop-width: 1440px;
$xxlarge-desktop-width: 1800px;

//= color vars
$blue: #0062FF;
//= color variables
$black: #000;
$purple: #7F3AE7;
$indigo: #3C36CE;
$light-gray: #F3F3F3;
$border-gray: #D8D8D8;
$bg-gray-100: #171717;
$bg-gray-90: #282828;
$filter-by-lang-gray: #6F6F6F;
$disabled-gray: #bebebe;
$red: #BA1B24;