.filterbar {
  height: 32px;
  display: flex;
  flex-direction: row;
  .results-group {
      display: flex;
      margin-top:7px;
      .results-info{
          margin-left:7px;
          position:relative;
          bottom:2px;
          font-size:14px;
          font-weight: 300;
      }
      .result-icon {
          position:relative;
          top:-8px;
      }
  }

}